body{
	height: 100vh;
	width: 100vw;
    background-color: #ECECDF;
	background: radial-gradient(at 18% 99%, 
    #899cfb 0px, transparent 50%),
    radial-gradient(at 80% 50%, #899cfb 0px, transparent 50%);
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatPage {
    height: 80vh;
    width: 80vw;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row;
    border: 2px solid #333;
}

.chat-left {
    width: 25%;
    border-right: 2px solid #333;
    background-color: #899cfb;
    display: flex;
    flex-direction: column;
}

.chat-right {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.profile-detail {
    border-bottom: 2px solid #333;
    padding: 10px 30px;
}

.friend-detail {
    padding: 10px 30px;
    border-bottom: 2px solid #333;
}

.msg-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
}

.small-text {
    font-size: 13px;
}

.message-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
    max-height: 50vh; 
    overflow-y: auto; /* Enable vertical scrolling */
    scrollbar-width: thin; 
    scrollbar-color: #e5e5ea transparent; 
}

.message {
    max-width: 55%;
    padding: 10px 15px;
    border-radius: 18px;
    position: relative;
    line-height: 1.4;
}

/* User messages (right-aligned) */
.message.user {
    background-color: #899cfb;
    align-self: flex-end;
}

/* Tayla's messages (left-aligned) */
.message.tayla {
    background-color: #e5e5ea;
    color: black;
    align-self: flex-start;
}

.message.greg {
    background-color: #e5e5ea;
    color: black;
    align-self: flex-start;
}

.message.johnny {
    background-color: #e5e5ea;
    color: black;
    align-self: flex-start;
}

.send-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.send-container input {
    flex: 1; /* Input takes up remaining space */
    min-width: 0; /* Prevents input from overflowing */
    border: 1px solid grey;
    height: 4vh;
    border-radius: 10px;
    padding: 5px 10px;
}

.send-container Button {
    width: 80px; /* Set a fixed width to prevent shrinking */
    white-space: nowrap; /* Prevents text from wrapping */
}

.match-info {
    text-align: center;
    margin-bottom: 10px;
}

#match-declaration {
    color: #6b7280; 
    margin-bottom: 10px;
    text-decoration: underline;
}

#direct-msg {
    margin-top: 30px;

}

h1 {
    font-size: 36px;
    line-height: 80px;
}