body {
    background-color: hsla(60, 25%, 90%, 1);
    background-color: #ECECDF;
    background: radial-gradient(at 18% 99%,
            #899cfb 0px, transparent 50%),
        radial-gradient(at 57% 33%, #899cfb 0px, transparent 50%);
}