.roomies-h1 {
    color: transparent;
    background: linear-gradient(30deg, #1F1F41, #899cfb);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: gradientAnimation 4s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 1200px) {

    .roomies-text,
    .spline-container {
        margin: 0 60px;
    }
}

@media (max-width: 992px) {

    .roomies-text,
    .spline-container {
        margin: 0 30px;
    }
}

@media (max-width: 768px) {

    .roomies-text,
    .spline-container {
        margin: 0 20px;
        max-width: 100%;
    }
}

.spline-model-component{
    margin-bottom: 100px;
}
