.profile-edit-title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    text-align: left;
}

.arrow-right-profile {
    position: absolute;
    right: 100px; 
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.arrow-right-profile svg {
    margin-bottom: 20px;
    margin-left: 20px;
}